.container-image {
    width: inherit;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
}
.container-elementcard {
    width: 270px;
    display: block;
    justify-content: center;
    text-align: center;
}
h1 {
    margin-top: 20px;
    height: 60px;
}
.age {
    height: 40px;
}
.quote {
    height: 50px;
}
